layout {
	pane split_direction="vertical" {
		
	}
	pane split_direction="vertical" {
		pane name="web" command="pnpm"  {
			args "web:dev"
		}
		pane name="svelte-check" command="pnpm"  {
			args "web:check:watch"
		}
		pane name="common lib" command="pnpm"  {
			args "common:dev"
		}
		
	}

	pane split_direction="vertical" {
		pane name="local node" command="pnpm"  {
			args "contracts:node:local" "--port" "8546"
		}
		pane name="purgatory" command="pnpm"  {
			args "contracts:node:purgatory" "--rpc-url" "http://localhost:8546"
		}
		pane name="faucet" command="pnpm"  {
			args "contracts:faucet"
		}
	}

	pane split_direction="vertical" {
		pane name="watch and compile" command="pnpm"  {
			args "contracts:compile:watch"
		}
		pane name="watch and deploy" command="pnpm"  {
			args "contracts:deploy:watch" "localhost" "--ts" "../web/src/lib/deployments.ts"
		}
		pane name="watch and build typescript" command="pnpm"  {
			args "contracts:build:watch"
		}
	}

	pane name="indexing" split_direction="vertical" {
		pane name="graph-node + ipfs + postgres" command="pnpm"  {
			args "externals"
		}
		pane name="subgraph deploy" command="pnpm"  {
			args "subgraph:deploy:local:watch"
		}
		pane name="subgraph schema" command="pnpm"  {
			args "subgraph:schema:watch"
		}
	}
}
